# psst v?.?.?

## Installation 

From an existing version:
```
brew upgrade psst
```

From scratch:
```
brew tap dollarshaveclub/public
brew install psst 
```

## Features

- include new features here

## Improvements

- include bug fixes and improvements here

## Known Issues

- include known issues here (see previous release and copy existing known issues)